.wrapper {
  position: relative;
  background-color: var(--main-white);
  box-shadow: 0 0 5px 2px var(--main-shadow);
  height: 40vh;

  transition: all 0.5s;
}

.wrapper:hover {
  transform: translateY(-2%);
  box-shadow: 0 0 10px 10px var(--main-shadow);
}

.mdx {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60%;
  padding: 1.5rem;

  color: var(--main-white);
  background-color: var(--main-black);
  overflow: hidden;
}

.mdx h2 {
  font-size: 0.4rem;
}

.mdx h3 {
  font-size: 0.1rem;
}
/* describe */

.describeWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.describe h3:hover {
  cursor: text;
}

.describe .deleteBtn {
  width: 3rem;
  height: 2rem;

  border: none;
  background-color: inherit;

  transition: all 0.4s;
}

.describe .deleteBtn:hover {
  color: var(--main-blue);
  fill: var(--main-blue);
  cursor: pointer;
}

.describe .lastSaveTime {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  font-size: 14px;
}

.describe svg {
  margin-right: 3px;
}
