.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideItemWrapper {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 20rem);
  padding: 5rem;
}
