.wrapper {
  display: flex;
}

.wrapper section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 420px;
  height: 100vh;
}

.leftBox {
  background-color: var(--main-black);
  opacity: 1;
  animation-name: leftBox;
  animation-duration: 1s;
}

.leftBox .logo {
  width: 30vw;
  min-width: 420px;
}

/* animation */

@keyframes leftBox {
  0% {
    width: 100vw;
    opacity: 0;
  }
  100% {
    width: 50vw;
    opacity: 1;
  }
}
