.wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--main-white);
}

.bar {
  height: 1rem;
  background-color: var(--main-blue);

  transition: width 0.3s;
}
